<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Who you're talking about?</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous" />
    <style>
        form input[type="text"] {
            margin: 10px 0;
        }

        form .search-button {
            margin: 0 auto;
            display:block;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align:center;"><h1>Who are you talking about?</h1></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form action="/find" method="get">
                    <input type="text" class="form-control input-lg" id="nickName" name="nickName" placeholder="Nickname"/>
                    <input type="text" class="form-control input-lg" id="startDate" name="startDate" placeholder="Initial Date"/>
                    <input type="text" class="form-control input-lg" id="endDate" name="endDate" placeholder="End Date"/>
                    <button type="submit" value="Submit" class="btn btn-primary search-button">Search</button>
                </form>
            </div>
            <div class="col-md-4"></div>

        </div>

    </div>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>